.footer__inner {
	background-color: var(--gray-900);
	padding: 80px 0;
}
.footer__wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}
.footer__left {
	display: flex;
	flex-direction: column;
}
.footer__social-inner {
	display: flex;
	margin-bottom: 24px;
}
.footer__social-inner nav ul {
	display: flex;
	gap: 0 16px;
	padding-left: 60px;
}
.footer__left p {
	font-size: 14px;
	line-height: 150%;
	color: var(--gray-600);
	max-width: 600px;
	margin-bottom: 73px;
}
.footer__left-contacts h6 {
	font-weight: 700;
	color: var(--white);
	letter-spacing: 0.06em;
	text-transform: uppercase;
	margin-bottom: 13px;
}
.footer__left-contacts address {
	display: flex;
	font-style: normal;
	color: var(--gray-600);
}
.footer__left-contacts address span {
	display: flex;
	font-style: normal;
	color: var(--white);
	margin-right: 4px;
}
.footer__left-contacts address p {
	margin-bottom: 6px;
}
.footer__left-contacts a span {
	margin-right: 4px;
	color: var(--white);
}
.footer__left-contacts a {
	display: block;
	color: rgba(255, 255, 255, 0.6);
	margin-bottom: 6px;
}
.copiryght {
	display: flex;
	font-size: 12px;
	color: var(--white);
	height: 18px;
}
.copiryght img {
	padding: 0 4px;
}
.footer__center {
	display: flex;
	align-items: flex-end;
	width: 25%;
	margin-bottom: -4px;
}
.footer__center h6 {
	font-weight: 700;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--white);
	margin-bottom: 13px;
}
.footer__center a {
	font-size: 16px;
	color: var(--gray-600);
	transition: all 0.2s ease-in-out;

	&:hover {
		transition: all 0.2s ease-in-out;
		color: var(--white);
	}
}
.footer__right {
	display: flex;
	flex-direction: column;
}
.footer__right h4 {
	font-weight: 700;
	margin-bottom: 26px;
	color: var(--white);
}
.footer__right form {
	display: flex;
	margin-bottom: 16px;
}
.footer__right input {
	border: 1px solid var(--gray-600);
	border-radius: 4px 0 0 4px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.12);
	color: var(--white);
	padding-left: 10px;
	outline: 1px solid var(--gray-600);

	&::placeholder {
		font-size: 14px;
		padding-left: 10;
		color: var(--gray-600);
	}
}
.footer__right p {
	font-size: 12px;
	color: var(--gray-600);
	margin-bottom: 50px;
}
.footer__right-bottom {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.footer__right-bottom h6 {
	color: var(--white);
	margin-bottom: 13px;
}
.footer__right-bottom a {
	color: var(--gray-600);
	transition: all 0.2s ease-in-out;

	&:hover {
		transition: all 0.2s ease-in-out;
		color: var(--white);
	}
}
.footer-btn {
	padding: 18px 25px;
	border-radius: 0 4px 4px 0;
}
.go-to-top {
	position: absolute;
	right: 0;
	bottom: -56px;
	display: flex;
	width: 129px;
	height: 20px;
	align-items: baseline;
}
.go-to-top p {
	margin-right: 16px;
	font-size: 14px;
	color: var(--white);
}
.go-to-top img {
	background-color: var(--action-color);
}

@media (max-width: 1024px) {
	.footer__wrapper {
		position: relative !important;
	}
	.footer__center {
		position: absolute;
		right: 0;
		bottom: 6px;
		z-index: 1;
	}
}
@media (max-width: 991px) {
	.footer__wrapper {
		flex-wrap: wrap;
	}
	.footer__left {
		position: relative;
		text-align: center;
		margin: 0 auto;
	}
	.footer__social-inner {
		justify-content: center;
	}
	.footer__left p {
		margin-bottom: 40px;
	}
	.footer__left-contacts {
		display: none;
	}
	.footer__left-contacts address {
		justify-content: center;
	}
	.footer__right {
		max-width: 45%;
	}
	.footer__right p {
		margin-bottom: 20px;
	}
	.footer__right-bottom {
		position: absolute;
		right: 30%;
	}
	.footer__center {
		position: absolute;
		bottom: 68px;
		justify-content: flex-end;
	}
	.go-to-top {
		bottom: -115px;
		right: -200px;
	}
	.copiryght {
		justify-content: center;
	}
	.copiryght img {
		display: inline-block;
	}
}

@media (max-width: 767px) {
	.footer__inner {
		padding: 40px 0;
	}
	.footer__right h4 {
		display: none;
	}
	.footer__right form {
		display: none;
	}
	.footer__right p {
		display: none;
	}
	.footer__right-bottom {
		position: relative;
		left: 0;
		align-items: flex-end;
		text-align: right;
		margin-right: 80px;
		text-align: center;
	}
	.footer__center {
		position: relative;
		display: inline-block;
		right: 0;
		bottom: 0;
		margin-left: 80px;
		text-align: center;
	}
	.go-to-top {
		display: none;
	}
}

@media (max-width: 420px) {
	.footer__wrapper {
		margin-bottom: 30px;
	}
	.footer__left p {
		margin-bottom: 20px;
	}
	.footer__center {
		width: 100%;
		margin: 0 auto;
	}
	.footer__right {
		display: none;
	}
	.footer__social-inner nav ul {
		padding-left: 15px;
	}
}

@media (max-width: 375px) {
	.footer__social-inner {
		display: block;
		margin-bottom: 0;
	}
	.footer__social-inner a img {
		display: block;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.footer__social-inner nav ul {
		display: flex;
		justify-content: center;
		padding-left: 0;
	}
	.footer__left {
		margin: 0 auto;
	}
}

@media (max-width: 375px) {
	.copiryght {
		font-size: 10px;
	}
	.footer__left p {
		display: none;
	}
}
