.footer {
}
.footer__inner {
	background-color: var(--main-color);
	padding: 80px 0;
}
.footer__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
.footer__top-left {
	display: inline-block;
	margin-right: 15px;
}
.footer__top-left-social {
	display: flex;
	margin-bottom: 24px;
}
.footer__top-left p {
	color: var(--grey-footer);
	line-height: 150%;
	max-width: 75%;
}
.footer-logo {
	margin-right: 60px;
}
.social {
}
.social__link {
	display: flex;
	gap: 0 16px;
}
.social__item {
}
.social__img {
}
.footer__top-right {
}
.footer__top-right h4 {
	color: var(--main-light);
	margin-bottom: 24px;
	font-weight: 700;
	font-size: 24px;
	line-height: 150%;
}
.footer__top-right p {
	color: var(--grey-footer);
	line-height: 150%;
	font-size: 12px;
}
#subscribe {
	display: flex;
	margin-bottom: 16px;
}
#subscribe input {
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 4px 0px 0px 4px;
	width: 364px;
	height: 44px;
	background: rgba(255, 255, 255, 0.12);
	color: var(--grey-footer);
	padding-left: 10px;

	&::placeholder {
		color: var(--grey-footer);
		padding-left: 5px;
	}
	&::placeholder:autofill {
		color: var(--grey-footer);
	}
	&:focus {
		outline: 1px solid rgba(255, 255, 255, 0.5);
		background: rgba(255, 255, 255, 0.12);
	}
	&:autofill {
		border: 0;
		padding-left: 10px;
		-webkit-text-fill-color: #fff;
		-webkit-box-shadow: 0 0 0px 1000px transparent inset;
		transition: background-color 5000s ease-in-out 0s;

		background: -webkit-linear-gradient(
			top,
			rgba(255, 255, 255, 0) 0%,
			rgba(0, 174, 255, 0.04) 50%,
			rgba(255, 255, 255, 0) 50%,
			rgba(0, 174, 255, 0.03) 100%
		);
	}
}
.subscribe-btn {
	border-radius: 0px 4px 4px 0px;
	padding: 0 25px;
}
.footer__bottom {
	display: flex;
	justify-content: space-between;
}
.footer__bottom-left {
	display: flex;
	justify-content: space-between;
}
.footer__bottom-left h6 {
	font-weight: 700;
	letter-spacing: 0.06em;
	font-size: 16px;
	color: var(--main-light);
	margin-bottom: 13px;
}
.footer__bottom-left address {
	color: var(--grey-footer);
	font-style: normal;
	margin-bottom: 8px;
}
.footer__bottom-left address span {
	display: inline-block;
	color: var(--main-light);
	margin-right: 6px;
}
.footer__bottom-left a {
	display: block;
	color: var(--grey-footer);
	margin-bottom: 8px;
}
.footer__bottom-left a span {
	color: var(--main-light);
	margin-right: 6px;
}
.footer__bottom-left-contact {
	margin-right: 125px;
}
.copyright {
	padding-top: 60px;
	display: flex;
	color: var(--main-light);
}
.copyright img {
	margin: 0 4px;
}
.footer__bottom-left-link {
}
.footer__bottom-left-nav {
}
.footer__bottom-left-nav-list {
}
.footer__bottom-left-nav-item {
}
.footer__bottom-left-nav-link {
}
.footer__bottom-right {
	display: flex;
	justify-content: space-between;
	width: 40%;
}

.footer__bottom-right-link h6 {
	font-weight: 700;
	letter-spacing: 0.06em;
	font-size: 16px;
	color: var(--main-light);
	margin-bottom: 13px;
}
.footer__bottom-right-link a {
	display: block;
	color: var(--grey-footer);
	margin-bottom: 8px;
}
.footer__bottom-right-nav {
}
.footer__bottom-right-nav-list {
}
.footer__bottom-right-nav-item {
}
.footer__bottom-right-link {
	align-self: start;
}
.footer__bottom-right-btn {
	display: flex;
	height: 40px;
	align-self: end;
}
.footer__bottom-right-btn p {
	display: flex;
	font-size: 14px;
	color: var(--main-light);
	margin-right: 18px;
	align-items: flex-end;
}
.footer__bottom-right-btn img {
	width: 40px;
	height: 40px;
	border-radius: 4px;
	padding: 14px 12px;
	background-color: var(--action-color);
}
.footer__bottom-right-btn-inner {
}
.footer__bottom-right {
	display: flex;
	align-items: flex-end;
}
