.header {
	position: sticky;
	top: 0;
	width: 100%;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 23px 0;
	width: 100%;
}

.logo {
	display: flex;
	gap: 0 10px;
	cursor: pointer;
}
.nav {
	font-weight: 700;
}
.nav__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0 40px;
}
.nav__link {
	line-height: 160%;
	color: var(--grey-800);
	border-bottom: 2px solid transparent;
	transition: all 0.2s ease-in-out;

	&:hover {
		border-bottom: 2px solid var(--action-color);
		transition: all 0.2s ease-in-out;
	}
}
.action {
	display: flex;
	gap: 0 36px;
	cursor: pointer;
}
.action__inner {
	display: flex;
	align-items: center;
}
.action__content {
}
.action__inner img {
	margin-right: 8px;
}
.action__inner p {
	font-weight: 700;
	font-size: 14px;
	line-height: 150%;
	color: var(--grey-800);
}
.action__inner a {
	font-size: 18px;
	line-height: 150%;
	color: var(--main-font-color);
	transition: all 0.2s ease-in-out;

	&:hover {
		color: var(--action-color);
		transition: all 0.2s ease-in-out;
	}
}

.burger {
	display: none;
}
