.hero {
	position: relative;
	scroll-margin-top: 84px;
	overflow: hidden !important;
}
.hero__inner {
	position: absolute;
	left: 344px;
	top: 180px;
}

.hero__inner h1 {
	font-weight: 700;
	font-size: 72px;
	line-height: 130%;
	color: var(--white);
	max-width: 500px;
	letter-spacing: 0.01em;
	margin-bottom: 24px;
}
.hero__inner h1 span {
	color: var(--action-color);
}
.hero__inner p {
	font-size: 20px;
	line-height: 150%;
	color: var(--white);
	max-width: 570px;
	margin-bottom: 57px;
}
.hero__btn--transparent {
	color: var(--white);
	border: 1px solid var(--white);
	border-radius: 4px;
	padding: 14px 54px;
	letter-spacing: 0.03em;
	font-weight: 700;
	font-size: 16px;
	margin-right: 21px;
	cursor: pointer;
}
.hero__btn {
	padding: 10px 40px;
	line-height: 200%;
}

.splide {
	overflow: hidden !important;
}

.splide__slide {
	height: calc(100vh - 84px) !important;
	filter: brightness(75%);
}

.splide__pagination {
	counter-reset: pagination-num;
	margin-bottom: 50px !important;
}

.splide__pagination__page:before {
	counter-increment: pagination-num;
	content: counter(pagination-num);
	display: flex;
	position: absolute;
	top: -40px;
	font-weight: 700;
	font-size: 28px;
	color: var(--white);
}

.splide__pagination__page {
	width: 200px !important;
	border-radius: 0 !important;
	height: 2px !important;
	margin-right: 30px !important;
	left: -140px !important;
}

.splide__pagination__page.is-active {
	width: 145px !important;
	margin-left: 30px !important;
}