.hero {
	position: relative;
	scroll-margin-top: 84px !important;
}
.hero__inner {
	position: absolute;
	left: 344px;
	top: 180px;
}

.hero__inner h1 {
	font-weight: 700;
	font-size: 72px;
	line-height: 130%;
	color: var(--white);
	max-width: 600px;
	letter-spacing: 0.01em;
	margin-bottom: 24px;
}
.hero__inner h1 span {
	color: var(--action-color);
}
.hero__inner p {
	font-size: 20px;
	line-height: 150%;
	color: var(--white);
	max-width: 570px;
	margin-bottom: 57px;
}
.hero__btn--transparent {
	color: var(--white);
	border: 1px solid var(--white);
	border-radius: 4px;
	padding: 14px 54px;
	letter-spacing: 0.03em;
	font-weight: 700;
	font-size: 16px;
	margin-right: 21px;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;

	&:hover {
		background-color: var(--gray-800);
		transition: background-color 0.2s ease-in-out;
	}
}
.hero__btn {
	padding: 10px 40px;
	line-height: 200%;
}
.splide__slide {
	width: 100% !important;
	filter: brightness(75%);
}
.splide__pagination {
	counter-reset: pagination-num;
	margin-bottom: 60px !important;
}
.splide__pagination__page:before {
	counter-increment: pagination-num;
	content: counter(pagination-num);
	display: flex;
	position: absolute;
	top: -40px;
	font-weight: 700;
	font-size: 28px;
	color: var(--white);
}
.splide__pagination__page {
	width: 200px !important;
	border-radius: 0 !important;
	height: 2px !important;
	margin-right: 30px !important;
	left: -140px !important;
}

.splide__pagination__page.is-active {
	width: 145px !important;
	margin-left: 30px !important;
}

@media (max-width: 1199px) {
	.splide__pagination {
		display: none !important;
	}
	.hero__inner {
		top: 10%;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		text-align: center;
	}
	.hero__inner h1 {
		margin: 0 auto;
		margin-bottom: 2%;
	}
	.hero__inner p {
		margin: 0 auto;
		margin-bottom: 5%;
	}
}

@media (max-width: 767px) {
	.hero__inner h1 {
		font-size: 50px;
	}
	.splide__arrows {
		display: none;
	}
	.hero__inner p {
		font-size: 16px;
		padding: 0 20px;
	}
}

@media (max-width: 575px) {
	.hero__inner h1 {
		font-size: 35px;
	}
	.splide__arrows {
		display: none;
	}
	.hero__inner p {
		font-size: 14px;
	}
	.hero__btn--transparent {
		padding: 10px;
	}
	.hero__btn {
		padding: 5px;
	}
}

@media (max-width: 420px) {
	.hero__inner h1 {
		font-size: 30px;
	}
	.hero__btn--transparent {
		display: none;
	}
}
@media (max-width: 383px) {
	.hero__inner h1 {
		font-size: 20px;
	}
	.hero__inner p {
		font-size: 12px;
	}
	.hero__btn--transparent {
		display: none;
	}
}
