:root {
	--container-width: 1260px;
	--container-padding-x: 15px;

	--main-font: 'Ubuntu', sans-serif;
	--base-font-size: 16px;
	--main-color: #1e212c;

	--grey-800: #424551;
	--grey-600: #787a80;
	--grey-200: #f4f5f6;
	--grey-footer: rgba(255, 255, 255, 0.6);

	--main-light: #fff;

	--action-color: #ff5a30;
}
